@page
@model ScrumGit.Pages.AdminProductos.InicioAdminModel
@{
}


    <div class="container container-general">
     
        <div class="row row-titulo-admin"> 
                <h2>Menu Operaciones</h2>
        </div>
    
    
        <div class="row">  
    
            <div class="col columna1">
    
    
                 <div  class="col-sm-4 divTarjetaadmin " asp-page="/Admin/Registrar">
                           <div class="card-title "> 
                               <h5 class="card-title ">Crear Productos </h5>
                           </div>

                              <div   class="card-body">
                                <img id="Icono1" src="./img/CrearPc.png" alt="">
                            
                            </div>
                 </div>
                
             </div>
    
             <div class="col columna2">
    
    
                 <div  class="col-sm-4  divTarjetaadmin2"  asp-page="/Admin/Editar">
                           <div class="card-title "> 
                               <h5 class="card-title ">Editar Productos </h5>
                           </div>
                            
                              <div   class="card-body">
                                <img id="Icono2" src="./img/EditarEquipis.png" alt="">
                          
                            </div>
                 </div>
                
             </div>
        
    
    </div>
        
    </div>