html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
<<<<<<< HEAD




body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/img/fondo-computador.jpg);
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center;
}

.TitleP {
    color: black;
    font-weight: bolder;
    transition: 800ms;
    background-image: linear-gradient(to left, white 50%, #0003c7 50% );
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    text-decoration: none;
    font-size: 20px;
    margin-right: 2%;
}

    .TitleP:hover {
        color: white;
        background-position: left;
        width: auto;
        height: auto;
        text-align: center;
        border-radius: 0 20px 0 0;
        transform: translateX(10%);
        padding-left: 1%;
        padding-right: 1%;
        margin-right: 1%;
    }

.Botones-Menu {
    color: rgb(2, 8, 43);
    transition: all 200ms ease;
}

    .Botones-Menu:hover {
        border-top: solid 2px #0003c7;
        border-bottom: solid 2px #0003c7;
        transform: translateY(0%);
        border-radius: 1%;
    }

/* Espacio Crear Productos*/
.tarjetaCrearProducto {
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
    box-shadow: 2px 8px 7px 1px #7979799f;
}

.botonesCrearRegresar {
    margin-top: 2%;
}

.campoRegistro {
    margin-bottom: 2%;
}
/* Fin Espacio Crear Productos*/

/* Espacio Estante de productos*/
.TituloListaDeProductos {
    text-align: center;
    color: white;
    margin-bottom: 4%;
}

.NombreTarjeta {
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0653e3;
    color: white;
}

.TarjetaEstanteProducto {
    text-align: center;
    margin-bottom: 2%;
    transition: all 400ms ease;
}

#tarjeta-especifica {
    box-shadow: 2px 8px 7px 1px #7979799f;
}

.TarjetaEstanteProducto:hover {
    transform: translateY(-5%);
}
/* Fin Espacio Estante de productos*/
/* Espacio Productos Registrados */
.DivBottonCrearProducto {
    text-align: center;
    padding: 1%;
    display: left;
}

    .DivBottonCrearProducto a {
        box-shadow: 2px 8px 7px 1px #7979799f;
        transition: all 400ms ease;
    }

        .DivBottonCrearProducto a:hover {
            box-shadow: 5px 5px 10px #0003c7;
            transform: translateY(-20%);
        }

.TituloRegistroProductos {
    text-align: center;
    color: #0003c7;
}

/* Fin Espacio Productos Registrados */

.caja-texto {
    background-color: #f9fcff89;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 20px;
    margin-top: 10%;
    position: relative;
    overflow: hidden;
    text-shadow: 2px 2px 2px #646464;
    box-shadow: 2px 2px 2px #b1b3b5;
}


/* Espacio Inicio Admin*/

.container-general {
    background-color: rgb(120, 169, 238);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding-top: 4%;
    border-radius: 20px;
}

.row-titulo-admin {
    margin-bottom: 2%;
    color: white;
    text-shadow: 2px 2px 2px #646464;
}

.columna1, .columna2 {
    text-align: center;
    margin-right: 1%;
    padding-bottom: 2%;
}

.divTarjetaadmin {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    background-color: rgb(227, 236, 236);
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    height: 120px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #b1b3b5;
    transition: all 400ms ease;
}

.divTarjetaadmin2 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: auto;
    background-color: rgb(227, 236, 236);
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    height: 120px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #b1b3b5;
    transition: all 400ms ease;
}

    .divTarjetaadmin2:hover, .divTarjetaadmin:hover {
        transform: translateY(-15%);
    }

#Icono1 {
    width: 50%;
}

#Icono2 {
    width: 49%;
}



/*Estilos de Redes Sociales*/



.AWhatsapp {
    text-decoration: none;
    color: white;
}

.AFacebook {
    text-decoration: none;
    color: white;
}

.AInstagram {
    text-decoration: none;
    color: white;
}


.ej {
    text-align: center;
    color: #ffff;
}

.colum2 {
    background: #c0eef6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#b4e9f2, #3472d6,#0052D4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#b4e9f2, #3472d6,#0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    border-radius: 10px 0px 10px 0px;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    transition: 2000ms;
}

    .colum2:hover {
        box-shadow: 1px 0px 0px 2px rgb(255, 255, 255);
        transform: rotateX(360deg);
    }




.colum1 {
    background: #fafaa4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #94f98f 10%,#24FE41 80%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #97f592 10%,#03ab1a 80%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
    transition: 2000ms;
}

    .colum1:hover {
        box-shadow: 1px 0px 0px 2px rgb(255, 255, 255);
        transform: rotateX(360deg);
    }


.colum3 {
    background: #7F00FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px 0px 10px 0px;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    transition: 2000ms;
}

    .colum3:hover {
        box-shadow: 1px 0px 0px 2px rgb(255, 255, 255);
        transform: rotateX(360deg);
        color: #d9dfe8;
    }

.CompraConNosotros{
    text-decoration:none;
}
/* Fin Estilos de Redes Sociales*/
/* FOOTER */
footer {
    margin-top: 10%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-bottom: -10%;
}

#NombreImg2 {
    padding-top: 1%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#rowInfo {
    margin-top: 0%;
    padding-bottom: 1%;
}
=======
.img-carousel{
    height:450px;
}
.content{
    background-color:#001c6d;
    padding:4rem;
    width:100%;
    color:aliceblue;
}
.menu{
    width:100%;
    height:4.5rem;
    z-index:2;
}
.menu-scrollbar {
    width: 100%;
    height: 4.5rem;
    position: fixed;
    z-index: 2;
    opacity: .9;
}
>>>>>>> dc2c653c474592cd65b75cb11b2dd0714432d0cd


